
* {box-sizing: border-box}
/* Set height of body and the document to 98% */
body, html {
    background-color: #56b2e2;
    font-family: Arial;
    height: 98%;
    margin: 1;
}
/* Style search */
.search {
    align-items: center;
    display: flex;
    height: 7%;
    left: .1em;
    position: relative;
    width: 100%;
}
.search > h1 {
    color: #f1f1f1;
    font-size: 1.9em;
}
/* Style preview */
.preview {
    align-items: center;
    display: flex;
    height: 55%;
    width: 100%;
}
.preview > div {
    background-color: #ededed;
    color: white;
    height: 95%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0em 0.2em;
    width: 100%;
}
.preview > div > table {
    width: 100%;
}
.bus_card {
    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgba(20%,20%,40%,0.5);
    color: #222222;
}
.bus_num {
    display: block; 
    font-size: 2em;
    left: 0.3em;
    position: relative;
}
.bus_name {
    display: block;
    font-size: 1.2em;
    left: 0.5em;
    position: relative;
    width: 96.6%;
}/* Style scroll */
.scroll {
    height: 6%;
    overflow: auto;
}
.city{
    -webkit-flex-wrap: wrap;
    display: flex;
    height: 80%;
    text-align: center;
    width: 207.7%;
}
.city > div{
    background-color: #f3d163;
    border-radius: .3rem;
    box-shadow: 0px 3px 1px rgba(20%,20%,40%,0.5);
    color: #222222;
    font-size: 1.3em;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 6.7%;
}
.city > div:not(.disabled):active {
    background-color: #777;
}
/* Style keyboard */
.keyboard {
    -webkit-flex-wrap: wrap;
    display: flex;
    height: 38%;
    justify-content: space-between;
    width: 100%;
}
.keyboard > div {
    background-color: #f1f1f1;
    border-radius: .3rem;
    box-shadow: 0px 3px 1px rgba(20%,20%,40%,0.5);
    color: #222222;
    font-size: .8em;
    height: 22%;
    line-height: 60%;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 32.4%;
}
.keyboard > div:not(:disabled):active {
    background-color: #777;
}