[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
line-bot-sdk = "*"
oauth2client = "*"
gspread = "*"

[requires]
python_version = "3.6"
